.uncommon-video-gallery {
  position: relative;
  overflow-x: hidden;
  padding-top: 1rem;
}
.uncommon-video-gallery-inner {
  display: flex;
  flex-wrap: nowrap;
  padding-top: var(--wp--preset--spacing--outer);
  padding-left: var(--wp--preset--spacing--outer);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  cursor: grabbing;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &.dragging {
    scroll-snap-type: none;
  }
  & .wp-block-video {
    scroll-snap-align: start;
    padding: 0 0 0 3.5vw;
    flex: 0 0 22vw;
    
    &:first-child {
      padding-left: var(--wp--preset--spacing--outer);
      flex: 0 0 calc(22vw + var(--wp--preset--spacing--outer) - 3.5vw);
    }
    @media screen and (max-width: 599px) {
      padding: 0 0 0 5vw;
      flex: 0 0 75vw;

      &:first-child {
        padding-left: var(--wp--preset--spacing--outer);
        flex: 0 0 calc(75vw + var(--wp--preset--spacing--outer) - 5vw);
      }
    }
    & video {
      cursor: pointer;
      aspect-ratio: 3/4;
      width: 100%;
      object-fit: cover;
      margin: 0;
      padding: 0;
      display: block;
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
      
      &:hover {
        transform: rotate(5deg);
      }
    }
    & figcaption {
      text-align: left;
      display: block;
      color: var(--wp--preset--color--contrast);
      font-size: var(--wp--preset--font-size--body-xs);
    }
  }
}
.negative-top-margin {
  margin-top: -16.5vw!important;
}
.uncommon-video-gallery-video-modal {
  transform-origin: 50% 50%;
  z-index: 999999;
  width: 100%;
  height: auto;
  animation: video-in 1.2s .2s  cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
.uncommon-video-gallery-video-modal-bg {
 position: fixed;
  top: 0;
  left: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 var(--wp--preset--spacing--outer);
  background-color: rgba(203, 205, 250, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: 50% 50%;
  animation: modal-bg-in .2s cubic-bezier(0.165, 0.84, 0.44, 1) both;

  &::after {
    content: 'Close ✕';
    position: absolute;
    top: .5em;
    right: 0.5em;
    padding: .5em;
    height: 1em;
    text-align: center;
    border-radius: .5em;
    background-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--pigment-purple);
    z-index: 999999;
    cursor: pointer;
  }
}
@keyframes video-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-bg-in {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0%)
  }
}